:root {
  --hexagon-background-color: transparent;
  --hexagon-text-color: #333333;
  --hexagon-border-color: #333333;
  --hexagon-hover-background-color: #333333;
  --hexagon-hover-text-color: #ffccdd;
}
/**************************The login page*************************************/
/*  Login  button */
.login-button-home {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 150px;
  height: 25px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #333333;
  box-sizing: border-box;
  border-style: none;
}
.login-button-home:before,
.login-button-home:after {
  background: #FFCCDD;
  position: absolute;
  content: "";
  width: 150px;
  left: 0px;
  height: 25px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.login-button-home:before {
  transform: perspective(10px) rotateX(3deg);
}
.login-button-home:after {
  top: 22px;
  transform: perspective(10px) rotateX(-3deg);
}

/* button border style */
.login-button-home.border:before,
.login-button-home.border:after {
  border: 2px solid #ffccdd;
}
.login-button-home.border:before {
  border-bottom: none;
}
.login-button-home.border:after {
  border-top: none;
}
/* button hover styles */
.login-button-home.border:hover:before,
.login-button-home.border:hover:after {
  background: white;
}
.login-button-home.border:hover {
  color: #333333;
  cursor: pointer;
}


/* Create Account button */
.create-account-button {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 250px;
  height: 25px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #333333;
  box-sizing: border-box;
  border-style: none;
}
.create-account-button:before,
.create-account-button:after {
  background: #ffccdd;
  position: absolute;
  content: "";
  width: 250px;
  left: 0px;
  height: 25px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.create-account-button:before {
  transform: perspective(15px) rotateX(3deg);
}
.create-account-button:after {
  top: 22px;
  transform: perspective(15px) rotateX(-3deg);
}

/* button border style */
.create-account-button.border:before,
.create-account-button.border:after {
  border: 2px solid #ffccdd;
}
.create-account-button.border:before {
  border-bottom: none;
}
.create-account-button.border:after {
  border-top: none;
}
/* button hover styles */
.create-account-button.border:hover:before,
.create-account-button.border:hover:after {
  background: white;
}
.create-account-button.border:hover {
  color: #333333;
  cursor: pointer;
}

/***********Home Button********* */
.home-button {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 150px;
  height: 25px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: var(--hexagon-text-color);
  box-sizing: border-box;
  border-style: none;
}
.home-button:before,
.home-button:after {
  position: absolute;
  content: "";
  width: 150px;
  left: 0px;
  height: 25px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.home-button:before {
  transform: perspective(10px) rotateX(3deg);
}
.home-button:after {
  top: 22px;
  transform: perspective(10px) rotateX(-3deg);
}

/* button border style */
.home-button.border:before,
.home-button.border:after {
  border: 2px solid #FFCCDD;
}
.home-button.border:before {
  border-bottom: none;
}
.home-button.border:after {
  border-top: none;
}
/* button hover styles */
.home-button.border:hover:before,
.home-button.border:hover:after {
  background: #FFCCDD;
}
.home-button.border:hover {
  color: #333333;
  cursor: pointer;
}

/*************************Landing Page****************************************/
/* Hexagon login Button */
.hexagon-login-button {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: var(--hexagon-text-color);
  margin: 40px auto;
  box-sizing: border-box;
  border-style: none;
}
.hexagon-login-button:before,
.hexagon-login-button:after {
  position: absolute;
  content: "";
  width: 150px;
  left: 0px;
  height: 25px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.hexagon-login-button:before {
  transform: perspective(10px) rotateX(3deg);
}
.hexagon-login-button:after {
  top: 22px;
  transform: perspective(10px) rotateX(-3deg);
}

/* button border style */
.hexagon-login-button.border:before,
.hexagon-login-button.border:after {
  border: 2px solid var(--hexagon-border-color);
}
.hexagon-login-button.border:before {
  border-bottom: none;
}
.hexagon-login-button.border:after {
  border-top: none;
}
/* button hover styles */
.hexagon-login-button.border:hover:before,
.hexagon-login-button.border:hover:after {
  background: var(--hexagon-hover-background-color);
}
.hexagon-login-button.border:hover {
  color: var(--hexagon-hover-text-color);
  cursor: pointer;
}
/****** Hexagon Signup button  ******/

.hexagon-signup-button {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #ffccdd;
  margin: 40px auto;
  box-sizing: border-box;
  border-style: none;
}
.hexagon-signup-button:before,
.hexagon-signup-button:after {
  background: #333333;
  position: absolute;
  content: "";
  width: 250px;
  left: 0px;
  height: 23px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.hexagon-signup-button:before {
  transform: perspective(15px) rotateX(3deg);
}
.hexagon-signup-button:after {
  top: 22px;
  transform: perspective(15px) rotateX(-3deg);
}

/* button border style */
.hexagon-signup-button.border:before,
.hexagon-signup-button.border:after {
  border: 2px solid var(--hexagon-border-color);
}
.hexagon-signup-button.border:before {
  border-bottom: none;
}
.hexagon-signup-button.border:after {
  border-top: none;
}
/* button hover styles */
.hexagon-signup-button.border:hover:before,
.hexagon-signup-button.border:hover:after {
  background: white;
}
.hexagon-signup-button.border:hover {
  color: #333333;
  cursor: pointer;
}

/********* Custome file button style *********/
.custom-file-button {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 320px;
  height: 75px;
  line-height: 65px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: white;
  margin: 30px auto;
  box-sizing: border-box;
  border-style: none;
}
.custom-file-button:before,
.custom-file-button:after {
  background: #FF6699;
  position: absolute;
  content: "";
  width: 320px;
  left: 0px;
  height: 32px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.custom-file-button:before {
  transform: perspective(20px) rotateX(3deg);
}
.custom-file-button:after {
  top: 30px;
  transform: perspective(20px) rotateX(-3deg);
}

/* button border style */
.custom-file-button.border:before,
.custom-file-button.border:after {
  border: 2px solid #FF6699;
}
.custom-file-button.border:before {
  border-bottom: none;
}
.custom-file-button.border:after {
  border-top: none;
}
/* button hover styles */
.custom-file-button.border:hover:before,
.custom-file-button.border:hover:after {
  background: white;
}
.custom-file-button.border:hover {
  color: #FF6699;
  cursor: pointer;
}

/**********Custom File Buttom Mobile********* */
.custom-file-button-m {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 200px;
  height: 25px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  border-style: none;
}
.custom-file-button-m:before,
.custom-file-button-m:after {
  background: #FF6699;
  position: absolute;
  content: "";
  width: 200px;
  left: 0px;
  height: 25px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.custom-file-button-m:before {
  transform: perspective(20px) rotateX(3deg);
}
.custom-file-button-m:after {
  top: 25px;
  transform: perspective(20px) rotateX(-3deg);
}

/* button border style */
.custom-file-button-m.border:before,
.custom-file-button-m.border:after {
  border: 2px solid #FF6699;
}
.custom-file-button-m.border:before {
  border-bottom: none;
}
.custom-file-button-m.border:after {
  border-top: none;
}
/* button hover styles */
.custom-file-button-m.border:hover:before,
.custom-file-button-m.border:hover:after {
  background: white;
}
.custom-file-button-m.border:hover {
  color: #FF6699;
  cursor: pointer;
}


/*********** Black Custom file button style ********/
.custom-file-button-b {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 320px;
  height: 75px;
  line-height: 65px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: #FFCCDD;
  margin: 30px auto;
  box-sizing: border-box;
  border-style: none;
}
.custom-file-button-b:before,
.custom-file-button-b:after {
  background: #333333;
  position: absolute;
  content: "";
  width: 320px;
  left: 0px;
  height: 32px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.custom-file-button-b:before {
  transform: perspective(20px) rotateX(3deg);
}
.custom-file-button-b:after {
  top: 30px;
  transform: perspective(20px) rotateX(-3deg);
}

/* button border style */
.custom-file-button-b.border:before,
.custom-file-button-b.border:after {
  border: 2px solid #333333;
}
.custom-file-button-b.border:before {
  border-bottom: none;
}
.custom-file-button-b.border:after {
  border-top: none;
}
/* button hover styles */
.custom-file-button-b.border:hover:before,
.custom-file-button-b.border:hover:after {
  background: white;
}
.custom-file-button-b.border:hover {
  color: #333333;
  cursor: pointer;
}



.overlay-text {
  font-size: 64px; /* Adjust font size as needed */
  font-weight: bold; /* Make text bold */
  color: red; /* Make text transparent */
  background-image: url('../../assets/TheHomePage/image/hexapink_img.jpeg'); /* Replace with your image path */
  background-clip: text; /* Clip the background image to the text */
  -webkit-background-clip: text; /* For Safari */
  background-size: cover; /* Cover the entire text */
  text-align: center; /* Center the text */
  padding: 20px; /* Add padding if needed */
}
.hexapink-card-locationtab {
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  border-radius: 10px;
  text-align: right;
  padding-top: 7px;
  padding-right: 20px;
}
.hexapink-card-foldertab {
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  border-radius: 10px;
  text-align: right;
  padding-top: 7px;
}

.homesectiontwo-clip {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%);
}

.cofoundertab-small-clip {
  clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
}
.cofoundertab-big-clip {
  clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
}

/* ******************Mobile Version***************** */
/* sign up button */
.hexagon-signup-button-m {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 120px;
  height: 20px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: #ffccdd;
  margin: 40px auto;
  box-sizing: border-box;
  border-style: none;
}
.hexagon-signup-button-m:before,
.hexagon-signup-button-m:after {
  background: #333333;
  position: absolute;
  content: "";
  width: 120px;
  left: 0px;
  height: 20px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.hexagon-signup-button-m:before {
  transform: perspective(5px) rotateX(3deg);
}
.hexagon-signup-button-m:after {
  top: 22px;
  transform: perspective(5px) rotateX(-3deg);
}

/* button border style */
.hexagon-signup-button-m.border:before,
.hexagon-signup-button-m.border:after {
  border: 2px solid var(--hexagon-border-color);
}
.hexagon-signup-button-m.border:before {
  border-bottom: none;
}
.hexagon-signup-button-m.border:after {
  border-top: none;
}
/* button hover styles */
.hexagon-signup-button-m.border:hover:before,
.hexagon-signup-button-m.border:hover:after {
  background: white;
}
.hexagon-signup-button-m.border:hover {
  color: #333333;
  cursor: pointer;
}
/* login button */
.hexagon-login-button-m {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 100px;
  height: 20px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  color: var(--hexagon-text-color);
  margin: 40px auto;
  box-sizing: border-box;
  border-style: none;
}
.hexagon-login-button-m:before,
.hexagon-login-button-m:after {
  position: absolute;
  content: "";
  width: 100px;
  left: 0px;
  height: 20px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.hexagon-login-button-m:before {
  transform: perspective(5px) rotateX(3deg);
}
.hexagon-login-button-m:after {
  top: 22px;
  transform: perspective(5px) rotateX(-3deg);
}

/* button border style */
.hexagon-login-button-m.border:before,
.hexagon-login-button-m.border:after {
  border: 2px solid var(--hexagon-border-color);
}
.hexagon-login-button-m.border:before {
  border-bottom: none;
}
.hexagon-login-button-m.border:after {
  border-top: none;
}
/* button hover styles */
.hexagon-login-button-m.border:hover:before,
.hexagon-login-button-m.border:hover:after {
  background: var(--hexagon-hover-background-color);
}
.hexagon-login-button-m.border:hover {
  color: var(--hexagon-hover-text-color);
  cursor: pointer;
}

.talkus-paper-clip {
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 100%, 0% 100%);
}

/* ************************Send message Button ***********************/
.send-message-button {
  position: relative;
  display: block;
  background: var(--hexagon-background-color);
  width: 320px;
  height: 75px;
  line-height: 65px;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  color: #333333;
  box-sizing: border-box;
  border-style: none;
}
.send-message-button:before,
.send-message-button:after {
  background: #FFCCDD;
  position: absolute;
  content: "";
  width: 320px;
  left: 0px;
  height: 32px;
  z-index: -1;
  box-sizing: unset;
  border-radius: 5px;
}

.send-message-button:before {
  transform: perspective(20px) rotateX(3deg);
}
.send-message-button:after {
  top: 30px;
  transform: perspective(20px) rotateX(-3deg);
}

/* button border style */
.send-message-button.border:before,
.send-message-button.border:after {
  border: 2px solid #FFCCDD;
}
.send-message-button.border:before {
  border-bottom: none;
}
.send-message-button.border:after {
  border-top: none;
}
/* button hover styles */
.send-message-button.border:hover:before,
.send-message-button.border:hover:after {
  background: white;
}
.send-message-button.border:hover {
  color: #333333;
  cursor: pointer;
}

